<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../shared-styles.html">
<link rel="import" href="../../app-data.html">
<link rel="import" href="../../../bower_components/app-localize-behavior/app-localize-behavior.html">

<script src="../../../bower_components/moment/moment.js"></script>
<script src="../../../bower_components/moment/locale/fr.js"></script>

<dom-module id="accueil-biodatas">
  <template>
    <style include="shared-styles">
        .text-center {
            text-align: center;
        }
        
        .margin-top-bottom {
            margin: 30px 0 30px 0;
        }
        
        .margin-bottom {
            margin: 0 0 20px 0;
        }
        
        .conseils-elem p {
            font-size: 14px;
        }
    </style>
      
    <iron-meta id="meta"></iron-meta>
    <iron-localstorage name="data-storage" value="{{storedData}}" on-iron-localstorage-load="_generateRequests"></iron-localstorage>
    <app-data key="storedData" data="{{storedData}}"></app-data>
      
    <iron-ajax 
    id="dateLimiteRequest"
    method="GET"
    headers="{{_computeHeaders(storedData)}}"
    url="{{serverUrl}}/visiteurs/projets/datelimite"
    handle-as="json"
    last-response="{{dateLimite}}"
    on-error="_handleHttpError"></iron-ajax>
      
    <div class="row">
        <div class="margin-bottom text-center col-md-12">
            <h1>{{localize('accueil-biodatas-titre')}}</h1>
            <p>{{localize('accueil-biodatas-header')}}</p>
        </div>
        <div class="margin-top-bottom text-center">
            <div class="col-md-3 conseils-elem">
                <iron-icon icon="image:timer"></iron-icon>
                <p>{{localize('accueil-biodatas-info-1')}}</p>
            </div>
            <div class="col-md-3 conseils-elem">
                <iron-icon icon="icons:event"></iron-icon>
                <p>{{localize('accueil-biodatas-info-2')}} [[_getDate(dateLimite)]] {{localize('accueil-biodatas-info-2-bis')}} </p>
            </div>
            <div class="col-md-3 conseils-elem">
                <iron-icon icon="icons:error-outline"></iron-icon>
                <p>{{localize('accueil-biodatas-info-3')}}</p>
            </div>
            <div class="col-md-3 conseils-elem">
                <iron-icon icon="icons:folder-open"></iron-icon>
                <p>{{localize('accueil-biodatas-info-4')}}</p>
            </div>
        </div>
    </div>
    
  </template>

  <script>
    Polymer({
      is: 'accueil-biodatas',
      behaviors: [
        Polymer.AppLocalizeBehavior
      ],
      properties: {
        serverUrl: String,
        language: {
          value: 'fr'
        }
      },
      ready: function() {
        this.serverUrl = this.$.meta.byKey("server-url");
      },
      attached: function() {
        this.loadResources(this.resolveUrl('../../locales.json'));
      },
      _computeHeaders: function(storedData) {
        return {"Authorization": "JWT " + storedData.token };
      },
      _generateRequests: function() {
          this.language = this.storedData.language || 'fr';
          this.$.dateLimiteRequest.generateRequest();
      },
      _getDate: function(timestamp) {
        return moment(timestamp, 'x').format('DD/MM/YYYY');
      }
    });
  </script>
</dom-module>