<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../shared-styles.html">
<link rel="import" href="../../app-data.html">
<link rel="import" href="../../../bower_components/app-localize-behavior/app-localize-behavior.html">

<script src="../../../bower_components/moment/moment.js"></script>
<script src="../../../bower_components/moment/locale/fr.js"></script>

<dom-module id="confirmation-biodatas">
  <template>
    <style include="shared-styles">
        .text-center {
            text-align: center;
        }
        
        .margin-top-bottom {
            margin: 30px 0 30px 0;
        }
    </style>

    <iron-meta id="meta"></iron-meta>
      <template is="dom-if" if="{{biodatasOk}}">
              <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="text-center">
                        <iron-icon class="large-icon" icon="icons:check"></iron-icon>
                        <p>{{localize('confirmation-biodatas-titre')}}</p>
                        <p>{{localize('confirmation-biodatas-info-1')}}</p>
                        <p>{{localize('confirmation-biodatas-info-2')}}</p>
                    </div>
                </div>
              </div>
      </template>
      <template is="dom-if" if="{{biodatasEnvoyees}}">
              <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="text-center">
                        <iron-icon class="large-icon" icon="icons:check"></iron-icon>
                        <p>{{localize('confirmation-biodatas-deja-envoye')}}</p>
                    </div>
                </div>
              </div>
      </template>
      <template is="dom-if" if="{{_isDateLimiteAtteinte(dateLimite)}}">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="text-center">
                        <p>{{localize('confirmation-biodatas-date-limite')}}</p>
                    </div>
                </div>
              </div>
      </template>
  </template>

  <script>
    Polymer({
      is: 'confirmation-biodatas',
      behaviors: [
        Polymer.AppLocalizeBehavior
      ],
      properties: {
        language: {
          value: 'fr'
        }
      },
      ready: function() {
        this.language = this.$.meta.byKey("langue") || "fr";
      },
      attached: function() {
        this.loadResources(this.resolveUrl('../../locales.json'));
      },
      _isDateLimiteAtteinte: function(dateLimite) {
          return dateLimite < moment().startOf('day').format('x') && dateLimite > 0;
      }
    });
  </script>
</dom-module>