<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../shared-styles.html">
<link rel="import" href="../../app-data.html">

<script src="../../../bower_components/moment/moment.js"></script>
<script src="../../../bower_components/moment/locale/fr.js"></script>

<dom-module id="card-projet">
  <template>
    <style include="shared-styles">
        
        .card-projet {
            width: 100%;
            margin-bottom: 20px;
            transition: all 0.2s ease;
        }
        .card-projet:hover {
            transform: scale(1.02);
        }
        
        .card-projet a {
            text-decoration: none;
            color: #444;
        }
        
        .texte-light {
            color: var(--paper-grey-600);
            padding-top: 10px;
        
        }
        
        .project-title {
            @apply(--paper-font-title);
        }
        
        .etat-dossier {
            @apply(--paper-font-caption);
            text-transform: uppercase;
        }
        
        .badge {
            min-width: 3rem;
            padding: 0 6px;
            margin-left: 14px;
            text-align: center;
            font-size: 1rem;
            line-height: 22px;
            height: 22px;
            float: right;
            box-sizing: border-box;
            font-weight: 300;
            font-size: 0.8rem;
            color: #fff;
            background-color: #ff4081;
            border-radius: 2px;
            position: relative;
            right: -4px;
            top: -4px;
        }
        
        .etat-dossier {
            text-align: center;
        }
        
        .etat-dossier span {
            font-size: 2em;
        }
        
        .projet-clos {
            opacity: 0.4;
        }
        
        .projet-clos .badge-datelimite {
            display: none;
        }
        
        .label-date {
            position: relative;
            top: 3px;
            left: 5px;
        }
    </style>
      
    <iron-meta id="meta"></iron-meta>
      
    <paper-card class$="card-projet {{_getEtatProjet(projet)}}">
        <template is="dom-if" if="{{_showBadgeDateLimite(projet.dateLimite)}}">
            <span class="badge badge-datelimite">Date limite atteinte</span>
        </template>
        <a href="{{baseUrl}}/section-administrateur/page-invitations-detail/{{projet.identifiant}}">                                                                              
                <div class="card-content">
                    <span class="project-title">[[projet.nom]]</span>
                    <div class="row texte-light">
                        <div class="col-md-5">
                            <iron-icon icon="icons:event"></iron-icon><span class="label-date">[[_getDate(projet.dateCreation)]]</span>
                        </div>
                        <div class="col-md-7">
                            <iron-icon icon="icons:date-range"></iron-icon><span class="label-date">Limite: [[_getDate(projet.dateLimite)]]</span>
                        </div>
                    </div>
                </div>
                <div class="card-actions">
                    <div>
                        <div class="etat-dossier">
                            <div class="col-sm-4">
                                <p>En attente</p>
                                <span>[[projet.etatProjet.enAttente]]</span>
                            </div>
                            <div class="col-sm-4">
                                <p>En cours</p>
                                <span>[[projet.etatProjet.enCours]]</span>
                            </div>
                            <div class="col-sm-4">
                                <p>Terminé</p>
                                <span>[[projet.etatProjet.termine]]</span>
                            </div>
                        </div>
                    </div>
                </div>
        </a>
    </paper-card>
  </template>

  <script>
  Polymer({
    is: 'card-projet',
    properties: {
      projet: Object,
      baseUrl: String
    },
    ready: function () {
        this.baseUrl = this.$.meta.byKey("base-url");
    },
    _getDate: function(timestamp) {
        return moment(timestamp, 'x').format('DD/MM/YYYY');
    },
    _showBadgeDateLimite: function(dateLimite) {
        return Date.now() > dateLimite;
    },
    _getEtatProjet: function(projet) {
        if(projet.etatProjet.enAttente == 0 && projet.etatProjet.enCours == 0 && projet.etatProjet.termine != 0) {
            return "projet-clos";
        } else {
            return "projet-en-cours";
        }
     }
      
  });
  </script>

</dom-module>